@import "./components/buttons/add-button";
@import "./components/buttons/dell-button";
@import "./components/buttons/task-buttons";
@import "./components/buttons/text-buttons";
@import './components/buttons/share-buttons';
@import "./components/forms/inputs/input-task";
@import "./components/forms/form-task";
@import "./components/tasks/list-task-container";
@import "./components/modals/edit-modal";
@import "./components/modals/modal-window";
@import "./components/modals/share-modal";
@import "./components/modals/backdrop";
@import "./colors/colors";

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    color: $text-color;
    background-color: $main-background-color;
}

.fake-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

::-webkit-scrollbar {
    background-color: $light-background-color;
}

::-webkit-scrollbar-thumb {
    background-color: $hover-color;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: $main-background-color;
}