@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
.add-button {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
  border: 2px;
  border-style: solid;
  border-color: #FF8303;
  border-radius: 8px;
  background: url("/src/images/add-button.svg") center no-repeat;
  background-color: #1B1A17;
}
.add-button:hover {
  background-color: #2B2A27;
}

.dell-button {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
  border: 2px;
  border-style: solid;
  border-color: #A35709;
  border-radius: 5px;
  background: url("/src/images/dell-button.svg") center no-repeat;
  background-color: #1B1A17;
}
.dell-button:hover {
  background-color: #2B2A27;
}

.task-buttons, .edit-button, .info-button, .share-button {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
  border: 1px;
  border-style: solid;
  border-color: #A35709;
  border-radius: 6px;
  background-color: #242320;
}
.task-buttons:hover, .edit-button:hover, .info-button:hover, .share-button:hover {
  background-color: #2B2A27;
}

.share-button {
  background: url("/src/images/share-button.svg") center no-repeat;
  background-color: #242320;
}

.info-button {
  background: url("/src/images/info-button.svg") center no-repeat;
  background-color: #242320;
}

.edit-button {
  background: url("/src/images/edit-button.svg") center no-repeat;
  background-color: #242320;
}

.text-buttons {
  width: 64px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
  border: 1px;
  border-style: solid;
  border-color: #A35709;
  border-radius: 4px;
  background-color: #1B1A17;
  color: #F0E3CA;
  font-size: 0.8em;
}
.text-buttons:hover {
  background-color: #2B2A27;
}

.share-buttons, .facebook-button, .whatsup-button, .telegram-button, .vk-button, .copy-button {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
  border: 0px;
  border-style: solid;
  border-color: #242320;
  border-radius: 50%;
  background-color: #242320;
}
.share-buttons:hover, .facebook-button:hover, .whatsup-button:hover, .telegram-button:hover, .vk-button:hover, .copy-button:hover {
  background-color: #2B2A27;
}

.copy-button {
  background: url("/src/images/copy-button.svg") center no-repeat;
  background-color: #242320;
}

.vk-button {
  background: url("/src/images/vk-button.svg") center no-repeat;
  background-color: #242320;
}

.telegram-button {
  background: url("/src/images/telegram-button.svg") center no-repeat;
  background-color: #242320;
}

.whatsup-button {
  background: url("/src/images/whatsup-button.svg") center no-repeat;
  background-color: #242320;
}

.facebook-button {
  background: url("/src/images/facebook-button.svg") center no-repeat;
  background-color: #242320;
}

.input-task {
  height: 32px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #FF8303;
  background-color: #242320;
  font-weight: bold;
  font-size: 14px;
}
.input-task:focus {
  outline: none;
  background-color: #2B2A27;
}

.error-value {
  border-color: rgb(242, 47, 47);
}

.form-task-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-width: 400px;
  margin-top: 3%;
  margin-bottom: 3%;
  gap: 10px;
}
.form-task-container .input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70px;
  gap: 10px;
}

.list-task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-bottom: 5%;
  gap: 16px;
}
.list-task-container .task-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0);
}
.list-task-container .task-container .task {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  min-width: 400px;
  padding: 2% 2% 1% 2%;
  box-sizing: border-box;
  background-color: #242320;
  border: 2px;
  border-style: solid;
  border-color: #A35709;
  border-radius: 8px;
}
.list-task-container .task-container .task .task-text {
  max-width: 80%;
  background-color: #242320;
}
.list-task-container .task-container .task .task-text .task-title {
  font-size: 22px;
  margin-bottom: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.list-task-container .task-container .task .task-text .task-description {
  font-size: 14px;
}
.list-task-container .task-container .task .task-text .task-title, .list-task-container .task-container .task .task-text .task-description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #242320;
}
.list-task-container .task-container .task .task-text .task-title-extend, .list-task-container .task-container .task .task-text .task-description-extend {
  white-space: normal;
  overflow: visible;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
          hyphens: auto;
}
.list-task-container .task-buttons-container {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  min-width: 400px;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0);
}
.list-task-container .no-tasks {
  margin-top: 50px;
}

.edit-modal {
  margin: auto auto;
  margin-bottom: 0;
  border-style: none;
  border-radius: 20px 20px 0 0;
  width: 50%;
  height: 500px;
  min-width: 400px;
  outline: none;
}
.edit-modal .edit-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-style: none;
  border-radius: 20px 20px 0 0;
  z-index: 10;
  gap: 20px;
}
.edit-modal .edit-modal-content .input-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 20px;
}
.edit-modal .edit-modal-content .input-container .input-description {
  height: 300px;
  padding-top: 1%;
  resize: none;
}
.edit-modal .edit-modal-content .edit-modal-buttons-container {
  display: flex;
  justify-content: center;
  width: 20%;
  gap: 20px;
}

.modal-window {
  margin: auto auto;
  border-style: none;
  border-radius: 0px 0px 10px 10px;
  outline: none;
}
.modal-window .modal-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  min-width: 400px;
  height: 200px;
  background-color: #242320;
  z-index: 10;
}
.modal-window .modal-content-container .modal-decoration {
  height: 5px;
  width: 100%;
  background-color: #A35709;
}
.modal-window .modal-content-container .modal-text-container {
  width: 40%;
  text-align: center;
}
.modal-window .modal-content-container .modal-text-container .modal-text {
  font-size: 20px;
  background-color: #242320;
}
.modal-window .modal-content-container .modal-buttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  width: 40%;
  gap: 20px;
  background-color: #242320;
}
.modal-window .modal-content-container .modal-buttons-container .button {
  font-size: 45px;
}
.modal-window .modal-content-container .modal-buttons-container .re-bg {
  border-color: #FF8303;
}

.share-modal {
  margin: auto auto;
  margin-bottom: 0;
  border-style: none;
  border-radius: 20px 20px 0 0;
  outline: none;
}
.share-modal .share-modal-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  height: 60px;
  min-width: 360px;
  padding: 10px;
  z-index: 10;
}

.backdrop {
  display: none;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 7, 7, 0.7);
}

.backdrop-open {
  display: block;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  color: #F0E3CA;
  background-color: #1B1A17;
}

.fake-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

::-webkit-scrollbar {
  background-color: #242320;
}

::-webkit-scrollbar-thumb {
  background-color: #2B2A27;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #1B1A17;
}/*# sourceMappingURL=main.css.map */