@import "../../mixins/button-mixin";

.list-task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-bottom: 5%;
    gap: 16px;

    .task-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 10px;
        background-color: rgba(0, 0, 0, 0);

        .task {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            min-width: 400px;
            padding: 2% 2% 1% 2%;
            box-sizing: border-box; 
            background-color: $light-background-color;
            @include button-border-style(8px, 2px, $orange-dark);

            .task-text {
                max-width: 80%;
                background-color: $light-background-color;
    
                .task-title {
                    font-size: 22px;
                    margin-bottom: 4px;
                    user-select: none;
                }
        
                .task-description {
                    font-size: 14px;
                }

                .task-title, .task-description {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    background-color: $light-background-color;
                }

                .task-title-extend, .task-description-extend {
                    white-space: normal;
                    overflow: visible;
                    overflow-wrap: break-word;
                    hyphens: auto; // красивый перенос слов
                }
            }
        }
    }

    .task-buttons-container {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 100%;
        min-width: 400px;
        gap: 10px;
        background-color: rgba(0, 0, 0, 0);
    }

    .no-tasks {
        margin-top: 50px;
    }
}